html{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.checkout-h1{
    padding-left:10%;
    padding-bottom: 10px;
}  
.checkout-h2{
    width:100%;
    height:auto;
    border:2px solid black;
    border-radius: 10px;
    background-color:black;
    color:white;
    padding: 10px;
}
.checkout-h3{
    padding-top:5px;
    padding-bottom:2px;
}
.checkout-btn{
    width:160px;
    height:50px;
    background-color:orangered;
    color:white;
    font-size:15px; 
    border-radius:10px;
    margin-top:10px;
    margin-bottom: 10px;

}
.checkout-step{
    padding-left:10%;
    width:50%;
    float: left;
}
#checkout-add{
   width:50%; 
   font-size:20px;
   border: 1px solid black;
}
#checkout-city{
   width:50%; 
   font-size:20px;
   border: 1px solid black;
}
#checkout-provin{
    width:50%; 
    font-size:20px;
    border: 1px solid black;
}
#checkout-post{
    width:50%; 
    font-size:20px;
    border: 1px solid black;
}
#checkout-count{
    width:50%; 
    font-size:20px;
    border: 1px solid black;
}
#checkout-res{
    width:160px;
    height:50px;
    font-size:15px; 
    border-radius:10px;
    border: 2px solid black;
}
#checkout-rev{
    padding-left:20px;
}
.checkout-total{
    margin-left:59%;
    width:238px;
}
#checksummary{
    text-align: center;
}
.checkout-summary{
    border: 2px solid black;
    width:350px;
    height: 400px;
    text-align: left;
    margin-left:65%;
    margin-top:45px;
    padding:15px;
    margin-bottom: 73%;
    
}
#checkout-show{
    display: flex;
}
#summarybtn{
    margin-left:10%;
    margin-top:5%;
    width:250px;
    height:50px;
    background-color:orangered;
    color:white;
    font-size:15px; 
    border-radius:10px;
}
#placeorder{
    width:210px;
    height:50px;
    background-color:orangered;
    color:white;
    font-size:15px; 
    border-radius:10px;
    margin-left:7%;
}
#ramen{
    width:100px;
    height:100px;
}
.checkout-p{
    padding:8px;
}
#checkout-area{
    border: 1px solid black;

}

