/*************************
   setting of table size
*************************/
.mainpage_bigcontainer {
    margin:30px 0px 0px 0px;
	padding: 0px 100px 0px 100px;
	display: inline-block;
}
.location_collection_title{
	text-align: center;
	margin: 30px;
}
.vertical_boxA{
	width: 50%;
	height: 100%;
	border-width: 0.05px;
	border-style: solid;
	border-color: #65747B;
	float: left;
}
.vertical_boxB{
	width: 50%;
	height: 100%;
	float: left;
}
.firstbox_of_A{
	width: 100%;
	height: 80px;
	align-items: center;
	border-style: solid;
	border-width: 0.05px;
	border-color: #65747B;
	display: inline-flex;
	justify-content: space-between;
}
.otherbox_of_A{
	width: 100%;
	height: 150px;
	padding: 20px 0px 0px 0px;
	border-style: solid;
	border-width: 0.1px;
	border-color: #65747B;
	display: inline-flex;
	justify-content: space-between;
}
/*************************
	showing
*************************/
#box1{
	color:#65747B;
	width: 20%;
	height: 100%;
	text-align: center;
	padding: 28px 0px 0px 0px;
	float: left;	
}
/*************************
	dropdownlist
*************************/
#box2{
	width: 60%;
	float: left;
}
.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
/*************************
	filter button
*************************/
#box3{
	width: 20%;
	height: 100%;
	vertical-align: middle;
	padding: 20px 0px 0 3px ;
	float: left;
}
.btn-flat-border {
	display: inline-block;
	padding: 0.2em 1em;
	text-decoration: none;
	color:  #65747B;
	border: solid 2px  #65747B;
	border-radius: 3px;
	transition: .4s;
}
.btn-flat-border:hover {
	background:#65747B;
	color: white;
}
/*************************
	location icon
*************************/
#box4{
	color: #852B2A;
	width: 10%;
	height: 100%;
	padding: 0px 0px 0px 15px;
	float: left;
}
/*************************
	store address
*************************/
#box5{
	width: 65%;
	height: 100%;
	float: left;
}
.openingtime{
	color: #852B2A;
    padding: 16px 0px 0px 0px ;
}
/*************************
	pickup button
*************************/
#box6{
	width: 25%;
	height: 100%;
	margin: 5px;
	float: left;
}
.btn-flat-border2 {
	text-align: center;
	border-radius: 3px;
	text-decoration: none;
	color:  #FFFFFF;
	background-color:  #852B2A;
	display: inline-block;
	padding: 0.2em 1.5em;
	transition: .4s;
}
.btn-flat-border2:hover {
	color:  #852B2A;
	background-color:   #FFFFFF;
	border-style: solid;
	border-width: 2px;
	border-color: #852B2A;
}