#product-noodles{
    width:400px;
    height:400px;
    float: left;
}
#product-title{
    margin-bottom: 0px;
    font-size:30px;
}
#product-weight{
    margin-top: 0px;
    margin-bottom: 0px;
    color:gray;
    font-size: 12px;
}
#product-price{
    margin-top: 0px;
    margin-bottom: 0px;
}
#product-pricegram{
    margin-top: 0px;
    color:gray;
    font-size: 12px;
}
#addbtn{
    width:250px;
    height:50px;
    background-color:orangered;
    color:white;
    font-size:15px; 
    border-radius:10px;
}
#addbtn-1{
    width:250px;
    height:50px;
    background-color:white;
    font-size:15px; 
    border-radius:10px;
}
#product-number{
    color:gray;
    font-size: 15px;
    padding-bottom: 15px;
}
.product{
    margin-bottom:5px;
}
#product-fact{
    border-bottom: 3px solid black;
    margin-bottom:5px;
}
.product-serving{
    width:500px;
    height:460px;
    border-bottom: 3px solid black;
    float: left;
}
.product-detail{
    margin-top:0;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
#product-serving-left{
    width:230px;
    height:300px;
    float: left;
}
#product-serving-right{
    width:230px;
    height:300px;
    float: right;
}
#productdetail-1,#productdetail-4{
    margin-top: 5px;
    margin-bottom: 5px;
}
#productdetail-2,#productdetail-3{
    margin-top: 5px;
    border-bottom: 1px dotted black;
    margin-bottom:5px;
}
#productdetail-5,#productdetail-6{
    margin-top: 5px;
    margin-bottom: 5px;
}
#productdetail-7,#productdetail-8{
    margin-top: 5px;
    border-bottom: 1px dotted black;
    margin-bottom:5px;
}
#productdetail-9,#productdetail-10{
    margin-top: 5px;
    margin-bottom: 5px;
}
#productdetail-11,#productdetail-12{
    margin-top: 5px;
    margin-bottom: 5px;
}
#productdetail-13,#productdetail-14{
    margin-top: 5px;
    margin-bottom: 5px;
}
#productdetail-15{
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-ingredi{
    float: right;
    
}
#product-statement{
    color:gray;
    margin-top: 5px;
}
#product-relate1{
    margin-bottom:0px;
}
#product-relate2{
    margin-top:0px;
    font-size:15px;
    margin-bottom:5px;
}
#product-relate3{
    margin-top:5px;
    margin-bottom:0px;
}
#product-relate4{
    margin-top:0px;
    color: gray;
    font-size: 10px;
}
#product-relate5{
    font-size: 10px;
}
#addbtn1{
    width:150px;
    height:20px;
    font-size: 12px;
    border-radius:10px;
    background-color:orangered;
}
#addbtn2{
    margin-top:10px;
    width:150px;
    height:20px;
    font-size: 12px;
    border-radius:10px;
}
.product-all{
    width:200px;
    display: flex;
    margin-left:15%;
}
.product-whole{
    width:1000px;
    height:auto;
    margin-left:15%;
}
