
/* container */
.product-container{
    text-align: center;
    margin-top: 70px;
    letter-spacing: 0px;
}
.product-container h1{
    color: #2E2E2E;
    font-size: 3em;
}
/* genre-selector */
.genre-selector{
    font-family: 'Montserrat', sans-serif;
    margin: 50px 20px;
}
.product-container a{
    text-decoration: none;
    color: blue;
}
.product-container a:hover{
    color: rgb(78, 248, 225);
}
.product-nav{
    margin-top: 50px;
}
.product-nav a{
    display: inline-block;
    background-color: white;
    line-height: 60px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 7px gray;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid gray;
}
.product-nav a:hover{
    opacity: 0.7;
    cursor: pointer;
}
.product-nav a:active{
    position: relative;
    top: 7px;
    box-shadow: none;
}
/* genre-bar & box*/
.product-body-container{
    margin-top: 50px;
}
.genre-bar{
    width: 70%;
    height: 50px;
    border: 5px outset rgb(252, 242, 230);
    margin: 30px auto;
    line-height: 40px;
}
.genre-bar a{
    margin: 20px;
}
.genre-box{
    width: 200px;
    height: 600px;
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    border: 5px outset rgb(252, 242, 230);
    padding: 30px 0;
}
.genre-box h2{
    margin-bottom: 10px;
}
.genre-box a{
    display: inline-block;
    margin: 10px 20px;
}
/* product-list */
.product-list{
    float: left;
    margin-left: 50px;
}
.product-line{
    display: flex;
    margin-top: 50px;
    margin-bottom: 130px;
}
.product{
    width: 200px;
    height: 400px;
    margin-left: 30px;
}
.product img{
    width: 200px;
    border-radius: 50px;
}
.name{
    height: 50px;
    margin: 10px 0;
}
.price{
    font-size: 20px;
    margin-top: 50px;
}
.gram{
    opacity: 0.5;
}
.add{
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #852B2A;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #852B2A;/*線色*/
    width: 147px;
    height: 30px;
    margin: 0;
}
.add-to-list{
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #2E2E2E;
    background: #FFFAF3;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #852B2A;/*線色*/
    width: 147px;
    height: 30px;
    margin-top:5px;
}
.add:active{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.add-to-list:active{
    box-shadow: 0 0 2px #852B2A;
}
.product-detail{
    color: black;
}

/* clear float */
.clear{
    clear: left;
}