* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.registration {
    width: 400px;
    margin: 0 auto;
}

.formRegister {
    width: 400px;
    display: grid;
    grid-template-columns: 400px;
    row-gap: 6px;
    padding: 10px;
}

.registration h1 {
    background-color: #852B2A;
    color: white;
    width: 100%;
    text-align: center;
}

#warn {
    width: 25px;
}

.notifications {
    width: 400px;
    display: grid;
    grid-template-columns: 20px 380px;
    row-gap: 6px;
    background-color: #F0BA58;

    padding: 10px;
}

.acceptance {
    padding: 10px;
    text-align: right;
}

.acceptance button {
    background-color: #852B2A;
}
