* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.timepicker {
    width: 800px;
    margin: 0 auto;
}
.timepicker h1 {
    background-color: #852B2A;
    color: white;
    width: 100%;
    text-align: center;
}

#pickupgrid {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    gap: 0;
    padding: 10px;
    
}

.time {
    text-align: center;
}

.unavailable {
    background-color: lightgray;
    cursor: not-allowed;
}

.available {
    background-color: #045757;
    color: #F0BA58;
    cursor: pointer;
}